@import url("../fonts/fonts.css");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

.row {
    padding: 0px 251px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;

    .header {

        .info-about {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 59px;
            background: #0C4B35;
            /* Card / Paragraph Font */
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            /* Main / BG (white color) */
            color: #FFFFFF;

            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .email {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }

                .phone {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }

                .location {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }
            }

            .language {
                display: flex;
                align-items: center;

                p {
                    margin-right: 5px;
                }
            }
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 85px;
            width: 100%;
            /* Main / BG (white color) */
            background: #FFFFFF;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);

            .logo {
                display: flex;
                align-items: center;
            }

            .menu {
                display: flex;
                align-items: center;
                margin-left: 400px;

                .item {
                    margin-right: 40px;

                    a {
                        /* Button/Button Text */
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height, or 125% */
                        text-transform: capitalize;
                        text-decoration: none;
                        /* Typography / Heading Color */
                        color: #212529;

                        &:hover {
                            text-transform: capitalize;
                            /* Main/1 Color */
                            color: #00730C;
                        }

                    }

                }
            }

            .call-us {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 35px;
                width: 170px;
                height: 50px;
                /* Main/1 Color */
                background: #00730C;
                border-radius: 5px;
                border: none;

                p {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    /* identical to box height, or 133% */
                    text-transform: capitalize;
                    color: #FFFFFF;
                }

                img {
                    margin-right: 6px;
                }
            }

            .gamburger-menu-mobile {
                display: none;
            }
        }
    }

    .main {
        .left-img {
            img {
                position: absolute;
                top: 580px;
                width: 197px;
                height: 278px;
            }
        }

        height: 719px;
        background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);

        .wraper {
            display: flex;

            .description {
                .h6-with-img {
                    margin-top: 130px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 24px;
                        height: 20px;
                        position: relative;
                        margin-right: 5px;
                    }

                    h6 {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height, or 125% */
                        text-transform: capitalize;
                        /* Typography/Heading Font Color */
                        color: #212529;
                    }
                }

                h1 {
                    margin: 20px 0px;
                    /* H2/Extra Bold */
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 58px;
                    line-height: 79px;
                    /* Typography/Heading Font Color */
                    color: #212529;

                    span {
                        color: #00730C;
                        ;
                    }
                }

                p {
                    margin-bottom: 50px;
                    /* H6/Regular */
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    /* Typography / Paragraph Color */
                    color: #676767;
                }

                .btn-s {
                    margin-bottom: 50px;
                    display: flex;
                    align-items: center;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 13px 35px;
                        width: 175px;
                        height: 50px;
                        /* Main/1 Color */
                        background: #00730C;
                        border-radius: 5px;
                        border: none;
                        margin-right: 30px;

                        a {
                            /* Button/Button Text */
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 24px;
                            text-decoration: none;
                            /* identical to box height, or 133% */
                            text-transform: capitalize;
                            /* Typography/Font White Color */
                            color: #FFFFFF;
                        }
                    }

                    .btn-see-how {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a {
                            /* H6/Semibold */
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 30px;
                            /* Typography / Paragraph Color */
                            color: #676767;
                            margin-right: 15px;
                            text-decoration: none;
                        }

                        img {
                            // color: #676767;
                        }
                    }
                }

                .counter {
                    display: flex;
                    align-items: center;

                    .bg-count {
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 15px 7px;
                        width: 50px;
                        height: 50px;
                        background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
                        border-radius: 35px;
                        // text
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        /* Typography/Heading Font Color */
                        color: #212529;
                    }

                    .name-count {
                        width: 89px;
                        height: 40px;
                        /* Button/Button Text */
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: capitalize;
                        /* Typography/Heading Font Color */
                        color: #212529;
                    }

                    .customrs {
                        display: flex;
                        align-items: center;
                    }

                    .created {
                        display: flex;
                        align-items: center;
                    }

                    .members {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .description-img {
                margin-top: 46px;
                position: relative;
                width: 1013px;
                height: 673px;
                background: #C4C4C4;
            }
        }
    }
}


// -----------------------adaptive-------------------------
// ----------------------header--------------------
// Extra small <576px	
// Small ≥576px	540px
// Medium ≥768px	720px
// Large ≥992px960px

@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;

        .header {

            .info-about {
                padding: 0 15px;
                width: 100%;

                .info {
                    img {
                        margin-left: 10px;
                    }

                    p {
                        display: none;
                    }
                }

                .language {
                    margin: 0 10px;
                }
            }

            .nav {
                padding: 0 15px;
                width: 100%;
                height: 70px;

                .menu {
                    display: none;
                }

                .call-us {
                    width: 40px;
                    height: 34px;
                    border-radius: 10px;
                    border: none;
                    margin: 0px;
                    padding: 20px 25px;
                    margin-left: 50px;

                    p {
                        display: none;
                    }

                    img {
                        padding: 0px;
                        margin: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .gamburger-menu-mobile {
                    display: block;
                }
            }
        }

        .main {}
    }
}