@import url("../fonts/fonts.css");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

.row {
    padding: 0px 251px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;

    .header {
        width: 100%;

        .info-about {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // width: 100%;
            height: 59px;
            background: #0C4B35;
            /* Card / Paragraph Font */
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            /* Main / BG (white color) */
            color: #FFFFFF;

            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .email {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }

                .phone {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }

                .location {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }
            }

            .language {
                display: flex;
                align-items: center;

                p {
                    margin-right: 5px;
                }
            }
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 85px;
            max-width: 100%;
            /* Main / BG (white color) */
            background: #FFFFFF;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);

            .logo {
                display: flex;
                align-items: center;
            }

            .menu {
                display: flex;
                align-items: center;
                margin-left: 400px;

                .item {
                    margin-right: 40px;
                    display: flex;
                    align-items: center;

                    a {
                        /* Button/Button Text */
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height, or 125% */
                        text-transform: capitalize;
                        text-decoration: none;
                        /* Typography / Heading Color */
                        color: #212529;

                        &:hover {
                            text-transform: capitalize;
                            /* Main/1 Color */
                            color: #00730C;
                        }

                    }

                    img {
                        margin-left: 10px;
                    }

                }
            }

            .call-us {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 170px;
                height: 50px;
                background: #00730C;
                border-radius: 5px;
                border: none;

                p {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    color: #FFFFFF;
                }

                img {
                    margin-right: 6px;
                }
            }

            .gamburger-menu-mobile {
                display: none;
            }
        }
    }

    .main {
        .row-1 {
            .left-img {
                img {
                    position: absolute;
                    top: 580px;
                    width: 197px;
                    height: 278px;
                }
            }

            height: 719px;
            background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);

            .wraper {
                display: flex;

                .mobile-img-description {
                    display: none;
                    background: #C4C4C4;
                    width: 375px;
                    height: 240px;
                }

                .description {
                    .h6-with-img {
                        margin-top: 130px;
                        display: flex;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 20px;
                            position: relative;
                            margin-right: 5px;
                        }

                        h6 {
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            /* identical to box height, or 125% */
                            text-transform: capitalize;
                            /* Typography/Heading Font Color */
                            color: #212529;
                        }
                    }

                    h1 {
                        margin: 20px 0px;
                        /* H2/Extra Bold */
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 58px;
                        line-height: 79px;
                        /* Typography/Heading Font Color */
                        color: #212529;

                        span {
                            color: #00730C;
                            ;
                        }
                    }

                    p {
                        margin-bottom: 50px;
                        /* H6/Regular */
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        /* Typography / Paragraph Color */
                        color: #676767;
                    }

                    .btn-s {
                        margin-bottom: 50px;
                        display: flex;
                        align-items: center;

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 13px 35px;
                            width: 175px;
                            height: 50px;
                            /* Main/1 Color */
                            background: #00730C;
                            border-radius: 5px;
                            border: none;
                            margin-right: 30px;

                            a {
                                /* Button/Button Text */
                                font-family: 'Nunito';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 24px;
                                text-decoration: none;
                                /* identical to box height, or 133% */
                                text-transform: capitalize;
                                /* Typography/Font White Color */
                                color: #FFFFFF;
                            }
                        }

                        .btn-see-how {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            a {
                                /* H6/Semibold */
                                font-family: 'Nunito';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 30px;
                                /* Typography / Paragraph Color */
                                color: #676767;
                                margin-right: 15px;
                                text-decoration: none;
                            }

                            img {
                                // color: #676767;
                            }
                        }
                    }

                    .counter {
                        display: flex;
                        align-items: center;

                        .mobile-img-leaf {
                            display: none;
                            position: absolute;

                            left: 0px;
                            bottom: -185px;
                        }

                        .bg-count {
                            margin-right: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 15px 7px;
                            width: 50px;
                            height: 50px;
                            background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
                            border-radius: 35px;
                            // text
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 20px;
                            /* Typography/Heading Font Color */
                            color: #212529;

                            span {
                                margin-left: 8px;
                                display: none;
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 14px;
                                color: #212529;
                            }
                        }

                        .name-count {
                            width: 89px;
                            height: 40px;
                            /* Button/Button Text */
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            text-transform: capitalize;
                            /* Typography/Heading Font Color */
                            color: #212529;
                        }

                        .customrs {
                            display: flex;
                            align-items: center;
                        }

                        .created {
                            display: flex;
                            align-items: center;
                        }

                        .members {
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .description-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 46px;
                    position: relative;
                    width: 1013px;
                    height: 673px;
                    background: #C4C4C4;
                }
            }
        }

        .row-2 {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 70px;


            h1 {
                /* H3/Extra Bold */
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 800;
                font-size: 45px;
                line-height: 61px;
                /* Typography/Heading Font Color */
                color: #212529;

                span {
                    color: #00730C;
                }
            }

            p {
                /* H6/Regular */
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                /* Typography / Paragraph Color */
                color: #676767;
                width: 1136px;
                height: 60px;
            }

            .element {
                margin-top: 50px;
                margin-bottom: 100px;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 330px;
                    height: 366px;
                    background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
                    /* Normal Shadow */
                    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
                    border-radius: 10px;
                    background-image: url('../img/main/row-2/XMLID_46_.png');
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: 25px;

                    img {
                        width: 70px;
                        height: 60px;
                        margin-bottom: 40px;
                    }

                    h4 {
                        width: 153px;
                        height: 33px;
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 33px;
                        text-align: center;
                        text-transform: capitalize;
                        color: #212529;
                    }

                    p {
                        margin-top: 10px;
                        width: 243px;
                        height: 84px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                        color: #676767;
                    }
                }
            }
        }
    }
}


// -----------------------adaptive-------------------------
// ----------------------header--------------------
// Extra small <576px	
// Small ≥576px	540px
// Medium ≥768px	720px
// Large ≥992px960px

@media screen and (max-width: 375px) {
    .row {
        padding: 0px;
    }

    .container {
        max-width: 375px;

        .header {

            .info-about {
                width: 100%;
                padding: 0 15px;


                .info {
                    img {
                        margin-left: 10px;
                    }

                    p {
                        display: none;
                    }
                }

                .language {
                    margin: 0 10px;
                }
            }

            .nav {
                width: 100%;
                height: 70px;
                padding: 0 15px;

                .menu {
                    display: none;
                }

                .call-us {
                    width: 40px;
                    height: 34px;
                    border-radius: 10px;
                    border: none;
                    margin: 0px;
                    padding: 20px 25px;
                    margin-left: 50px;

                    p {
                        display: none;
                    }

                    img {
                        padding: 0px;
                        margin: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .gamburger-menu-mobile {
                    display: block;
                }
            }
        }

        .main {
            .row-1 {
                // height: max-content;

                .left-img {
                    display: none;
                }

                .wraper {
                    flex-direction: column;
                    margin: 0px;


                    .mobile-img-description {
                        display: block;
                    }

                    .description {
                        padding: 0 15px;


                        .h6-with-img {
                            margin-top: 50px;

                            h6 {
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 19px;
                            }
                        }

                        h1 {
                            margin: 10px 0px;
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 38px;
                        }

                        p {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            margin-bottom: 40px;
                            color: #212529;
                        }

                        .btn-s {
                            margin-bottom: 40px;
                            display: flex;
                            flex-direction: column;

                            button {
                                margin-left: 35px;
                                width: 303px;
                                height: 44px;
                                margin-bottom: 20px;
                            }

                            .btn-see-how {
                                margin-left: 35px;

                                a {
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 19px;
                                    /* identical to box height */
                                    /* Main/1 Color */
                                    color: #00730C;
                                }

                                img {
                                    // color: #00730C;
                                }
                            }
                        }

                        .counter {
                            float: right;

                            .mobile-img-leaf {
                                display: block;
                            }

                            .bg-count {
                                padding: 8px 10px;
                                width: 133px;
                                height: 32px;
                                background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
                                border-radius: 32px;
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 16px;
                                display: flex;
                                align-items: center;
                                /* Typography/Heading Font Color */
                                color: #212529;

                                span {
                                    display: block;
                                }
                            }

                            .name-count {
                                display: none;
                            }

                            .members {
                                display: none;
                            }
                        }
                    }

                    .description-img {
                        display: none;
                    }
                }
            }
        }
    }
}