@import url("../fonts/fonts.css");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.row {
  padding: 0px 251px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
.container .header {
  width: 100%;
}
.container .header .info-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 59px;
  background: #0C4B35;
  /* Card / Paragraph Font */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* Main / BG (white color) */
  color: #FFFFFF;
}
.container .header .info-about .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .header .info-about .info .email {
  display: flex;
  align-items: center;
}
.container .header .info-about .info .email img {
  margin-right: 10px;
}
.container .header .info-about .info .email p {
  margin-right: 30px;
}
.container .header .info-about .info .phone {
  display: flex;
  align-items: center;
}
.container .header .info-about .info .phone img {
  margin-right: 10px;
}
.container .header .info-about .info .phone p {
  margin-right: 30px;
}
.container .header .info-about .info .location {
  display: flex;
  align-items: center;
}
.container .header .info-about .info .location img {
  margin-right: 10px;
}
.container .header .info-about .info .location p {
  margin-right: 30px;
}
.container .header .info-about .language {
  display: flex;
  align-items: center;
}
.container .header .info-about .language p {
  margin-right: 5px;
}
.container .header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  max-width: 100%;
  /* Main / BG (white color) */
  background: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
}
.container .header .nav .logo {
  display: flex;
  align-items: center;
}
.container .header .nav .menu {
  display: flex;
  align-items: center;
  margin-left: 400px;
}
.container .header .nav .menu .item {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.container .header .nav .menu .item a {
  /* Button/Button Text */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-transform: capitalize;
  text-decoration: none;
  /* Typography / Heading Color */
  color: #212529;
}
.container .header .nav .menu .item a:hover {
  text-transform: capitalize;
  /* Main/1 Color */
  color: #00730C;
}
.container .header .nav .menu .item img {
  margin-left: 10px;
}
.container .header .nav .call-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  background: #00730C;
  border-radius: 5px;
  border: none;
}
.container .header .nav .call-us p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.container .header .nav .call-us img {
  margin-right: 6px;
}
.container .header .nav .gamburger-menu-mobile {
  display: none;
}
.container .main .row-1 {
  height: 719px;
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}
.container .main .row-1 .left-img img {
  position: absolute;
  top: 580px;
  width: 197px;
  height: 278px;
}
.container .main .row-1 .wraper {
  display: flex;
}
.container .main .row-1 .wraper .mobile-img-description {
  display: none;
  background: #C4C4C4;
  width: 375px;
  height: 240px;
}
.container .main .row-1 .wraper .description .h6-with-img {
  margin-top: 130px;
  display: flex;
  align-items: center;
}
.container .main .row-1 .wraper .description .h6-with-img img {
  width: 24px;
  height: 20px;
  position: relative;
  margin-right: 5px;
}
.container .main .row-1 .wraper .description .h6-with-img h6 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-transform: capitalize;
  /* Typography/Heading Font Color */
  color: #212529;
}
.container .main .row-1 .wraper .description h1 {
  margin: 20px 0px;
  /* H2/Extra Bold */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 79px;
  /* Typography/Heading Font Color */
  color: #212529;
}
.container .main .row-1 .wraper .description h1 span {
  color: #00730C;
}
.container .main .row-1 .wraper .description p {
  margin-bottom: 50px;
  /* H6/Regular */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* Typography / Paragraph Color */
  color: #676767;
}
.container .main .row-1 .wraper .description .btn-s {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.container .main .row-1 .wraper .description .btn-s button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 35px;
  width: 175px;
  height: 50px;
  /* Main/1 Color */
  background: #00730C;
  border-radius: 5px;
  border: none;
  margin-right: 30px;
}
.container .main .row-1 .wraper .description .btn-s button a {
  /* Button/Button Text */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  /* identical to box height, or 133% */
  text-transform: capitalize;
  /* Typography/Font White Color */
  color: #FFFFFF;
}
.container .main .row-1 .wraper .description .btn-s .btn-see-how {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main .row-1 .wraper .description .btn-s .btn-see-how a {
  /* H6/Semibold */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  /* Typography / Paragraph Color */
  color: #676767;
  margin-right: 15px;
  text-decoration: none;
}
.container .main .row-1 .wraper .description .counter {
  display: flex;
  align-items: center;
}
.container .main .row-1 .wraper .description .counter .mobile-img-leaf {
  display: none;
  position: absolute;
  left: 0px;
  bottom: -240px;
}
.container .main .row-1 .wraper .description .counter .bg-count {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 7px;
  width: 50px;
  height: 50px;
  background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
  border-radius: 35px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* Typography/Heading Font Color */
  color: #212529;
}
.container .main .row-1 .wraper .description .counter .bg-count span {
  margin-left: 8px;
  display: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #212529;
}
.container .main .row-1 .wraper .description .counter .name-count {
  width: 89px;
  height: 40px;
  /* Button/Button Text */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  /* Typography/Heading Font Color */
  color: #212529;
}
.container .main .row-1 .wraper .description .counter .customrs {
  display: flex;
  align-items: center;
}
.container .main .row-1 .wraper .description .counter .created {
  display: flex;
  align-items: center;
}
.container .main .row-1 .wraper .description .counter .members {
  display: flex;
  align-items: center;
}
.container .main .row-1 .wraper .description-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
  position: relative;
  width: 1013px;
  height: 673px;
  background: #C4C4C4;
}

@media screen and (max-width: 375px) {
  .row {
    padding: 0px;
  }
  .container {
    max-width: 375px;
  }
  .container .header .info-about {
    width: 100%;
    padding: 0 15px;
  }
  .container .header .info-about .info img {
    margin-left: 10px;
  }
  .container .header .info-about .info p {
    display: none;
  }
  .container .header .info-about .language {
    margin: 0 10px;
  }
  .container .header .nav {
    width: 100%;
    height: 70px;
    padding: 0 15px;
  }
  .container .header .nav .menu {
    display: none;
  }
  .container .header .nav .call-us {
    width: 40px;
    height: 34px;
    border-radius: 10px;
    border: none;
    margin: 0px;
    padding: 20px 25px;
    margin-left: 50px;
  }
  .container .header .nav .call-us p {
    display: none;
  }
  .container .header .nav .call-us img {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .header .nav .gamburger-menu-mobile {
    display: block;
  }
  .container .main .row-1 .left-img {
    display: none;
  }
  .container .main .row-1 .wraper {
    flex-direction: column;
    margin: 0px;
  }
  .container .main .row-1 .wraper .mobile-img-description {
    display: block;
  }
  .container .main .row-1 .wraper .description {
    padding: 0 15px;
  }
  .container .main .row-1 .wraper .description .h6-with-img {
    margin-top: 50px;
  }
  .container .main .row-1 .wraper .description .h6-with-img h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .container .main .row-1 .wraper .description h1 {
    margin: 10px 0px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
  .container .main .row-1 .wraper .description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
    color: #212529;
  }
  .container .main .row-1 .wraper .description .btn-s {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  .container .main .row-1 .wraper .description .btn-s button {
    margin-left: 35px;
    width: 303px;
    height: 44px;
    margin-bottom: 20px;
  }
  .container .main .row-1 .wraper .description .btn-s .btn-see-how {
    margin-left: 35px;
  }
  .container .main .row-1 .wraper .description .btn-s .btn-see-how a {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    /* Main/1 Color */
    color: #00730C;
  }
  .container .main .row-1 .wraper .description .counter {
    float: right;
  }
  .container .main .row-1 .wraper .description .counter .mobile-img-leaf {
    display: block;
  }
  .container .main .row-1 .wraper .description .counter .bg-count {
    padding: 8px 10px;
    width: 133px;
    height: 32px;
    background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
    border-radius: 32px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    /* Typography/Heading Font Color */
    color: #212529;
  }
  .container .main .row-1 .wraper .description .counter .bg-count span {
    display: block;
  }
  .container .main .row-1 .wraper .description .counter .name-count {
    display: none;
  }
  .container .main .row-1 .wraper .description .counter .members {
    display: none;
  }
  .container .main .row-1 .wraper .description-img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */