@import url("../fonts/fonts.css");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

.container {
    max-width: 1920px;
    margin: 0 auto;

    .header {

        .info-about {
            padding: 0px 251px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 59px;
            background: #0C4B35;
            /* Card / Paragraph Font */
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            /* Main / BG (white color) */
            color: #FFFFFF;

            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .email {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }

                .phone {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }

                .location {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-right: 30px;
                    }
                }
            }

            .language {
                display: flex;
                align-items: center;

                p {
                    margin-right: 5px;
                }
            }
        }

        .nav {
            padding: 0px 251px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 85px;
            width: 100%;
            /* Main / BG (white color) */
            background: #FFFFFF;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);

            .logo {
                display: flex;
                align-items: center;
            }

            .menu {
                display: flex;
                align-items: center;
                margin-left: 400px;

                .item {
                    margin-right: 40px;

                    a {
                        /* Button/Button Text */
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height, or 125% */
                        text-transform: capitalize;
                        text-decoration: none;
                        /* Typography / Heading Color */
                        color: #212529;

                        &:hover {
                            text-transform: capitalize;
                            /* Main/1 Color */
                            color: #00730C;
                        }

                    }

                }
            }

            .call-us {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 35px;
                width: 170px;
                height: 50px;
                /* Main/1 Color */
                background: #00730C;
                border-radius: 5px;
                border: none;

                p {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    /* identical to box height, or 133% */
                    text-transform: capitalize;
                    color: #FFFFFF;
                }

                img {
                    margin-right: 6px;
                }
            }

            .gamburger-menu-mobile {
                display: none;
            }
        }
    }

    .main {
        img {
            position: absolute;
            top: 380px;
            width: 197px;
            height: 278px;
        }

        height: 719px;
        background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);

        .wraper {
            padding: 0px 251px;
        }
    }
}


// -----------------------adaptive-------------------------
// ----------------------header--------------------
// Extra small <576px	
// Small ≥576px	540px
// Medium ≥768px	720px
// Large ≥992px960px

@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;

        .header {

            .info-about {
                padding: 0 15px;
                width: 100%;

                .info {
                    img {
                        margin-left: 10px;
                    }

                    p {
                        display: none;
                    }
                }

                .language {
                    margin: 0 10px;
                }
            }

            .nav {
                padding: 0 15px;
                width: 100%;
                height: 70px;

                .menu {
                    display: none;
                }

                .call-us {
                    width: 40px;
                    height: 34px;
                    border-radius: 10px;
                    border: none;
                    margin: 0px;
                    padding: 20px 25px;
                    margin-left: 50px;

                    p {
                        display: none;
                    }

                    img {
                        padding: 0px;
                        margin: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .gamburger-menu-mobile {
                    display: block;
                }
            }
        }

        .main {}
    }
}