@import url("../fonts/fonts.css");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

.container {
    max-width: 1920px;
    margin: 0 auto;

    .header {
        padding: 0px 251px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 59px;
        background: #0C4B35;
        /* Card / Paragraph Font */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        /* Main / BG (white color) */
        color: #FFFFFF;

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .email {
                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                }

                p {
                    margin-right: 30px;
                }
            }

            .phone {
                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                }

                p {
                    margin-right: 30px;
                }
            }

            .location {
                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                }

                p {
                    margin-right: 30px;
                }
            }
        }

        .language {
            display: flex;
            align-items: center;

            p {
                margin-right: 5px;
            }
        }

    }
}


// -----------------------adaptive-------------------------
// ----------------------header--------------------
// Extra small <576px	
// Small ≥576px	540px
// Medium ≥768px	720px
// Large ≥992px960px
// @media screen and (max-width: 375px) 